.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.main-menu li {
    float: left;
}

.main-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 300ms;
}

.main-menu li a:hover {
    background-color: deepskyblue;
    font-size: 2vh;
    transition: 300ms;
}

.main-menu .active {
    background-color: #4CAF50;
}

p {
    margin-left: 1vh;
}
