<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Курсы по программированию</title>
    {% block css %}
        <link rel="stylesheet" href="/static/css/main-menu.css">
        <link rel="stylesheet" href="/static/css/top-block.css">
    {% endblock %}

    {% block js %}
    {% endblock %}
</head>

<body>
<div class="main-menu">
    <ul>
      <li>
          <a href="/">Главная</a>
      </li>
    </ul>
</div>



<div class="top-block">
    {% block top-block-content %}
        <h1>Курсы по программированию</h1>
    {% endblock %}
</div>

{% block content %}
{% endblock %}
</body>

</html>