{% extends 'mainapp/base.html' %}
{% load static %}

{% block alt_js %}
    <script rel="script" href="{% static 'js/basket.js' %}"></script>
{% endblock %}

{% block content %}
    <p>Название: {{ course.name }}</p>
    <p>Уровень: {{ course.course_category }}</p>
    <p>Описание: {{ course.desc }}.</p>
    {% if course.programming_languages.all|length > 1 %}
        <p>Языки программирования:</p>
    {% else %}
        <p>Язык программирования:</p>
    {% endif %}
    <ul>
        {% for lang in course.programming_languages.all %}
            <li>{{ lang }}</li>
        {% endfor %}
    </ul>

    {% if course.technologies.all|length != 0 %}
        {% if course.technologies.all|length == 1 %}
            <p>Технология:</p>
        {% else %}
            <p>Технологии:</p>
        {% endif %}
        <ul>
            {% for technology in course.technologies.all %}
                <li>{{ technology }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="btn-remove-add-basket">
    </div>
{% endblock %}
